/* Colors */
/* Dang Wong palettes: #000000 #e69f00 #56b4e9 #009e73 #f0e442 #0072b2 #d55e00 #cc79a7 */
:root {
    --base-spacing-unit: 24px;
    --half-spacing-unit: base-spacing-unit / 2;

    --color-bg: #f0f0f0;
    --color-title: #36486b;
    --color-link: #61dafb;
    --color-text: #4e606d;
    --color-text-dark: #303030;
    --color-text-light: #5e5b50;
    --color-highlight-1: #27a3c9;
    --color-highlight-2: #eaece5;
    --color-hover: #fefbd8;

    --color-running: #0072b2;
    --color-pending: #e69f00;
    --color-scheduled: #f0e442;
    --color-fatal: #d55e00;
    --color-aborted: #785abd;
    --color-done: #009e73;

    --color-bar-text: white;
    --color-table-title: #343a40;

    --color-popover-bg: #faf9f6;
    --color-popover-text: #383e47;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    right: 0;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
    width: 12px;
    height: 12px;
}

ul {
    list-style-type: none;
}

/* "Jobmon GUI" header specifications */
.App-header {
    padding: 1px;
    text-align: center;
    font-size: calc(20px + 1vmin);
    color: var(--color-title);
    margin: 0 5%;
}

/* Style of icons of the workflow status indicator. */
.icon-rr {
    color: var(--color-running);
    font-size: calc(30px + 1vmin);
    margin-right: 15px;
}

.icon-dd {
    color: var(--color-done);
    font-size: calc(30px + 1vmin);
    margin-right: 15px;
}

.icon-aa {
    color: var(--color-aborted);
    font-size: calc(30px + 1vmin);
    margin-right: 15px;
}

.icon-ff {
    color: var(--color-fatal);
    font-size: calc(30px + 1vmin);
    margin-right: 15px;
}

.icon-pp {
    color: var(--color-pending);
    font-size: calc(30px + 1vmin);
    margin-right: 15px;
}

.icon-ss {
    color: var(--color-scheduled);
    font-size: calc(30px + 1vmin);
    margin-right: 15px;
}

.header-popover {
    max-width: 600px;
}

::placeholder {
    color: #8e93a0;
}

.text-custom {
    color: #36486b;
    font-size: large;
    text-align: center;
}

/* first level title */
.header-1 {
    text-align: left;
    font-size: calc(16px + 1vmin);
    color: var(--color-title);
    width: 90%;
}

.btn-custom {
    background-color: #4e606d;
    border: none;
    color: white;
}

.mx-40p {
    margin-left: 40%;
    margin-right: 40%;
}

/* Table row expansion */
.expand-cell-header {
    pointer-events: none;
}

/* the error detail */
.div-error {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    box-shadow: 10px 10px 5px grey;
}

/* Color of "Running" square and text size in Task status key. */
.bar-rr {
    color: var(--color-running);
    font-size: 15px;
    text-align: center;
    margin-right: 5px;
}

/* Color of "Pending" square and text size in Task status key. */
.bar-pp {
    color: var(--color-pending);
    font-size: 15px;
    text-align: center;
    margin-right: 5px;
}

/* Color of "Scheduled" square and text size in Task status key. */
.bar-ss {
    color: var(--color-scheduled);
    font-size: 15px;
    text-align: center;
    margin-right: 5px;
}

/* Color of "Scheduled" square and text size in Task status key. */
.bar-pss {
    color: var(--color-scheduled);
    font-size: 15px;
    text-align: center;
    margin-right: 5px;
}

/* Color of "Done" square and text size in Task status key. */
.bar-dd {
    color: var(--color-done);
    font-size: 15px;
    margin-right: 5px;
}

/* Color of "Fatal" square and text size in Task status key. */
.bar-ff {
    color: var(--color-fatal);
    font-size: 15px;
    margin-right: 5px;
}

/* Color of "Aborted" square and text size in Workflow status key. */
.bar-aa {
    color: var(--color-aborted);
    font-size: 15px;
    margin-right: 5px;
}

.popover {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Size and position of the landing page legend. */
.legend {
    width: 80%;
    padding: 0 10%;
    display: flex;
}

/* Size and position of the main table. */
.div-level-2 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

/* Size and position of the progress bar. */
.tt-container {
    width: 98%;
    height: 55px;
    margin: 10px;
    padding: 15px 10px 10px 40px;
    background-color: #eeeeee;
    border-radius: 8px;
}

.tt-container:hover {
    cursor: pointer;
    border: 1px dotted green;
    border-radius: 8px;
    background-color: #f8f8f8;
}

#tt_progress .tt-container.selected {
    border: 1px solid green;
    border-radius: 8px;
    background-color: #eeeeee;
}

#tt_progress ul {
    padding: 0;
}

#tt_progress .tt-name {
    color: #303030;
}

.progress {
    height: 1.3rem;
}

/* flex div */
.div-hidden {
    display: none;
}

/* space occupier */
.div-full {
    width: fit-content;
}

/* Size and position of the main table. */
.div-scroll {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 300px;
    overflow-y: auto;
}

.color-dark {
    color: var(--color-text-dark);
}

/* Word wrap for task instance error log */
.div-break-word {
    margin-top: 5px;
    word-wrap: break-word;
    white-space: pre-wrap; /* or pre-line */
}

.div-hint {
    font-size: 10px;
    text-color: var(--color-text-light);
}

/* Take the left 1/3 of the display*/
.div_floatleft {
    float: left;
    width: 33%;
    overflow-wrap: break-word;
}

.float_bar {
    float: left;
    width: fit-content;
    overflow-wrap: break-word;
    padding-right: 2rem;
}

/* Take the right 2/3 of the display*/
.div_floatright {
    float: right;
    width: 67%;
    text-align: right;
    margin-top: 4px;
}

/* Take the right 2/3 of the display align left*/
.div_floatright_align_left {
    float: right;
    width: 67%;
    text-align: left;
}

h-1rem {
    height: 1rem;
}

/* Line beneath "Jobmon GUI" title. */
.hr-1 {
    height: 4px;
    border-width: 0;
    width: 100%;
    color: var(--color-highlight-1);
    background-color: var(--color-highlight-1);
}

/* second level hr */
.hr-2 {
    height: 2px;
    border-width: 0;
    width: 100%;
    color: var(--color-highlight-2);
    background-color: var(--color-highlight-2);
}

/* third level hr */
.hr-3 {
    height: 2px;
    color: var(--color-highlight-2);
    border-top: 2px dashed;
}

/* in dots */
.hr-dot {
    color: var(--color-highlight-2);
    border-top: 1px dotted;
}

/* The spacing between search bar and search button. */
.label-right {
    color: var(--color-text);
    margin-left: 5px;
}

/* The spacing of the Task status key. */
.label-middle {
    color: var(--color-text);
    margin-left: 15px;
}

/* The label for right align with margen */
.label-right-align {
    margin: 5px;
    text-align: right;
    font-size: 8px;
    color: var(--color-text-light);
}

/* The label for left align with margen */
.label-left-align {
    margin: 5px;
    text-align: left;
    font-size: 15px;
    color: var(--color-text);
}

/* a spinning loader */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Color blindness palettes: https://davidmathlogic.com/colorblind/#%23D81B60-%231E88E5-%23FFC107-%23004D40 */
/* Change pending progress bar to Bang Wong palette for color blindness */
.pending-progress-bar {
    background-color: var(--color-pending);
}

/* Change scheduled progress bar to Bang Wong palette for color blindness */
.scheduled-progress-bar {
    background-color: var(--color-scheduled);
}

/* Change running progress bar to Bang Wong palette for color blindness */
.running-progress-bar {
    background-color: var(--color-running);
}

/* Change done progress bar to Bang Wong palette for color blindness */
.done-progress-bar {
    background-color: var(--color-done);
}

/* Change fatal progress bar to Bang Wong palette for color blindness */
.fatal-progress-bar {
    background-color: var(--color-fatal);
}

/* Popover colors */
#tt-tasks .pending,
#tt-tasks .scheduled,
#tt-tasks .running,
#tt-tasks .done,
#tt-tasks .fatal {
    color: #222222;
    font-weight: normal;
}

#tt-tasks .pending {
    background-color: var(--color-pending);
}

#tt-tasks .scheduled {
    background-color: var(--color-scheduled);
}

#tt-tasks .running {
    background-color: var(--color-running);
}

#tt-tasks .done {
    background-color: var(--color-done);
}

#tt-tasks .fatal {
    background-color: var(--color-fatal);
}

/* text under line with color change */
.p-underline {
    text-decoration: underline;
    text-decoration-color: blue;
}

.p-underline:hover {
    text-decoration-color: cyan;
    cursor: pointer;
    opacity: 2;
}

/* a span above tables to show helper texts */
.span-helper {
    color: grey;
    font-size: 10px;
    padding: 5px;
    width: 100%;
    height: 1rem;
}

/* table with solid boarder for error logs */
.table-solid {
    border-style: ridge;
    width: 90%;
}

.table-solid tr {
    border-style: ridge;
}

.table-solid solid {
    border-style: ridge;
    height: 60px;
}

.table-full {
    border: none;
    width: 100%;
}

.table-full tr {
    border: none;
}

.table-full td {
    border: none;
    text-align: right;
}

.center-histogram {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* scroll bar for task dependencies list group */
.dependency-list-scroll {
    max-height: 300px;
    overflow-y: auto;
}

/* Allows for a fixed header on the the task dependencies list group */
.dependency-header {
    background: rgb(250, 250, 250);
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Reduces spacing between links in task dependencies list group */
.dependency-list-group-item {
    padding: 0.25rem 1.25rem;
}

.table th {
    font-weight: lighter;
}

.table td {
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #303030;
    font-weight: 300;
}

.bg-grey {
    background-color: #dbdbdb;
}

#task-count,
#task_count {
    margin: 2px;
    padding: 15px;
    border: 1px solid gray;
}

#tt-tasks th,
td,
#tt-stats th,
td {
    padding: 2px;
}

#tt-tasks td.tt-stats-spacer {
    width: 20px;
}

#task_count table td {
    text-align: right;
}

#tt-tasks td,
#tt-stats td {
    text-align: right;
}

#tt_search .error-log {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}

#tt_search .error-time .error-time-since {
    color: grey;
    text-align: right;
    float: right;
    font-size: 8px;
}

body .error-log-modal .modal-dialog {
    max-width: 85%;
}

.error-log-modal .modal-dialog pre {
    font-size: 11px;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.toggle-slider::before {
    position: absolute;
    content: '';
    height: 90%;
    width: 49%;
    left: 1%;
    bottom: 5%;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

.nav-pills {
    border: #4e606d 1px solid;
    border-radius: 0.25rem;
}

.nav-link {
    color: #4e606d;
}

.nav-pills .nav-link.active {
    background-color: #4e606d;
}

/* input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */

.toggle-slider.active {
    background-color: #2196f3;
}

.toggle-slider.active::before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.page-item.active .page-link {
    background-color: var(--color-text);
    border: 1px solid var(--color-text);
}

.btn-secondary {
    background-color: var(--color-text);
    border: 1px solid var(--color-text);
}

.updatemenu-item-rect {
    fill: var(--color-text) !important;
}

.updatemenu-item-text {
    fill: white !important;
}

.updatemenu-header-arrow {
    fill: white !important;
}

.ti-logs {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}

/* styles.css or inline styles */
.markdown-container img {
    width: 1250px; /* Adjust the width as needed */
    height: auto; /* Allows the SVG to maintain its aspect ratio */
}

.markdown-container {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
}
